:root {
    --bgColor: #29335e;
    --primFontColor: #eed1de;
    --txtBoxFontSize: 6.600660066006601vh;
    --smallTxtBoxFontSize: 2.393399339933993vh;
    --buttonColor: #56007e;
    --scndFontColor: #a8959e;
    --borderColor: #000000;
}

body {
    background-color: var(--bgColor);
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.menuButton {
    background-color: var(--buttonColor);
    color: white;
    border: none;
    border-radius: 5px;
    height: 35px;
    font-size: 30px;
    text-align: center;
    vertical-align: center;
}

.container_left {
    display: inline-block;
    width: 25%;
    max-width: 25%;
    height: 100vh;
    max-height: 100vh;
    padding: 5px;
    margin: 0px;
    margin-right: 2px;
    float: left;
    border: none;
    border-right: solid black 3px;
    overflow-x: hidden;
    overflow-y: scroll;
    direction: rtl;
}
.container_right {
    display: inline-block;
    width: auto;
    max-width: 75%;
    height: 100vh;
    max-height: 100vh;
    padding: 5px;
    margin: 0px;
    margin-right: 2px;
    border: none;
    direction: ltr;
    overflow-y: scroll;
}

.toolbar {
    display: block;
    position: relative;
    width: 100vw;
    max-height: 10%;
    height: auto;
    border: none;
    margin: 0px;
}

.entryList_Text {
    font-size: 2vw;
    margin: 0px;
    margin-right: 1px;
    padding: 0px;
    padding-right: 2px;
    list-style: none;
    direction: ltr;
}

.entryItem {
    font-size: inherit;
    font-family: Arial;
    color: var(--scndFontColor)
}

.entryText {
    width: 85%;
    height: var(--txtBoxFontSize);
    padding: 3px;
    box-sizing: border-box;
    border: none;
    font-size: var(--smallTxtBoxFontSize);
    resize: none;
    display: block;
}

.generalInput {
    font-size: var(--smallTxtBoxFontSize);
    display: inline-block;
    font-size: var(--smallTxtBoxFontSize);
    height: 5vh;
    margin-top: auto;
    margin-bottom: auto;
}

#EntryContent {
    float: right;
    max-width: 70%;
    width: 75vw;
    height: 100vw;
}

.Heading {
    font-size: 3vw;
    font-family: Arial;
    display: inline-block;
    color: var(--primFontColor);
    margin-right: 0.1vw;
}

#entryName {
    font-family: Arial;
    font-size: 3.5vw;
    color: var(--primFontColor);
    margin: 0px;
}

.controlType {
    height: 3.1353135313531353vh;
    font-size: 2.200214521452145vh;
    margin: 2px;
    margin-left: 0.25%;
    margin-bottom: 5px;
    margin-right: auto;
    display: inline-block;
}

.controlHeading {
    color: var(--primFontColor);
    font-size: 3.1353135313531353vh;
    font-family: Arial;
    display: inline-block;
    margin-right: 1%;
    margin-left: 0.25%;
    padding: 1px;
    border: none;
}

.controlContainer {
    display: block;
    padding: 0px;
    margin: 0px;
}
/*
.entryContainer {
    margin: 0px;
    padding: 0px;
    border-style: solid;
    border-color: var(--borderColor);
    border-width: 0.15vw;

}
*/

#content {
    height: 100%;
    margin-bottom: 1%;
    padding: 2px;
}